*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: url(../img/index.jpg);
	background-position: top center;
	height: 1080px;
}
/* -------------------------------- */
/* -------------------------------- */
/* ----CABEZAL------ */
header{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 83px;
	background: rgba(255,255,0,0.5);
}
/* ----FIN DE CABEZAL------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----BARRA DE NAVEGACION------ */
nav{
position: relative;
margin: auto;
width: 1000px;
height: 45px;
background: rgba(255,0,0,0.5);
}
/* ----FIN DE BARRA DE NAVEGACION------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----SLIDE------ */
#slide{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 301px;
	background: rgba(0,0,255,0.5);
}
/* ----FIN DE SLIDE------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----BOTONERA SLIDE------ */
#botoneraslide{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 26px;
	background: rgba(70,255,0,0.5);
}
/* ----FIN DE BOTONERA SLIDE------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----SECTION------ */
section{
	position: relative;
	margin: auto;
	height: 299px;
	width: 1000px;
	background: rgba(6,255,6,0.5);
}
/* ----SECTION------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----BOTTOM------ */
#bottom{
	position: relative;
	margin: auto;
	height: 190px;
	width: 1000px;
	background: rgba(6,6,255,0.5);
}
/* ----FIN BOTTOM------ */

/* -------------------------------- */
/* -------------------------------- */

/* ----FOOTER------ */

footer{
	position: relative;
	margin: auto;
	height: 62px;
	width: 1000px;
	background: rgba(255,0,6,0.5);
}
/* ----FIN DE FOOTER------ */